/* =Bash It Out plugin styles
-------------------------------------------------------------- */

.bash-it-out__container {
	margin:	20px 40px;
	box-sizing: border-box;
}
/* The states of the app: */
.bash-it-out__container.bash-it-out__paused {}
.bash-it-out__container.bash-it-out__loading {}
.bash-it-out__container.bash-it-out__complete {}
.bash-it-out__container.bash-it-out__annoy {}
.bash-it-out__container.bash-it-out__editor-active {}

/**
* #.# Settings form
*
* The settings panel controlling the wordcount/time limit etc.
*/
.bash-it-out__settings {
	margin-bottom: 15px;
	padding: 10px 10px 0 10px;
	border: 1px solid #aaa;
	box-sizing: border-box;
	background: #ccc;
}

.bash-it-out__settings fieldset {
	display: block;
	margin-bottom: 10px;
	background-color: #eee;
	padding: 10px;
}

.bash-it-out__settings label {
	display: inline-block;
	margin-right: 15px;
}

.bash-it-out__label-text {
	font-weight: bold;
}

.bash-it-out__settings p {
	margin: 0;
}

.bash-it-out__tooltip {
	position: relative;
	display: inline-block;
}

.bash-it-out__tooltip-content {
	position: absolute;
	width: 200px;
	margin: 0;
	padding: 10px;
	background: #fff;
	border: #aaa;
	display: none;
	line-height: 1;
	font-family: inherit;
	z-index:10005;
	border: 1px solid #aaa;
}

.bash-it-out__tooltip:hover .bash-it-out__tooltip-content,
.bash-it-out__tooltip:focus .bash-it-out__tooltip-content {
	display: block;
}

.bash-it-out__settings .button-large .dashicons {
	line-height: 1.3;
}

.bash-it-out__label-group {
	display: inline-block;
}

.bash-it-out__fieldset-saved-posts.hidden {
	display: none;
}

@media all and ( max-width: 782px ) {
	.bash-it-out__settings label {
		display: block;
		margin-bottom: 15px;
		margin-right: 0;
	}

	.bash-it-out__settings select {
		width: 90%;
		display: block;
		margin-bottom: 20px;
	}

	.bash-it-out__label-group {
		display: block;
	}
}

.bash-it-out__reset-container {
	text-align: right;
	margin-bottom: 20px;
	font-size: 10px;
}

.bash-it-out__reset-container span {
	vertical-align: middle;
	display: inline-block;
}

/**
* #.# Overseer
*
* The information panel displayed when the editor is active.
*/
.bash-it-out__overseer {
	background: gold;
	display: none;
	z-index: 10003;
	position: relative;
	width: 90%;
	left: auto;
	padding: 20px 15px;
	box-sizing: border-box;
}

.bash-it-out__complete .bash-it-out__overseer {
	background: lightgreen;
}

.bash-it-out__editor-active .bash-it-out__overseer {
	display: block;
}

.bash-it-out__overseer-container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	text-align: center;
}

.bash-it-out__overseer-container h3 {
	padding: 0;
	margin: 0 0 15px 0;
	font-size: 13px;
}

.bash-it-out__overseer-column {
	flex-basis: 200px;
}

.bash-it-out__autosave {
	text-align: left;
	display: block;
	font-style: italic;
}

.bash-it-out__overseer .bash-it-out__overseer-quit.button,
.bash-it-out__overseer .bash-it-out__overseer-pause.button {
	height: auto;
	padding: 15px;
	font-size: 16px;
	min-width: 80px;
	line-height: 1.3;
}

.bash-it-out__overseer .dashicons-controls-pause,
.bash-it-out__paused .bash-it-out__overseer .dashicons-controls-play {
	display: inline-block;
}

.bash-it-out__overseer .dashicons-controls-play,
.bash-it-out__paused .bash-it-out__overseer .dashicons-controls-pause {
	display: none;
}

.bash-it-out__paused .bash-it-out__overseer h3,
.bash-it-out__paused .bash-it-out__overseer output,
.bash-it-out__paused .bash-it-out__overseer time {
	opacity: 0.5;
}

.bash-it-out__words-remaining,
.bash-it-out__time-remaining {
	display: block;
	font-style: italic;
	font-weight: bold;
	font-size: 28px;
}

.bash-it-out__progressbar {
	display: block;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
}

/**
* #.# Editor
*
* The editor's text area
*/
.bash-it-out__editor-container {
	display: block;
}

.bash-it-out__editor-active .bash-it-out__editor-container {
	position: relative;
	width: 90%;
	z-index: 10002;
	box-sizing: border-box;
}


/**
* #.# Background styles
*
* The opaque background when the editor is active
*/
.bash-it-out__shadow-background {
	display: none;
}

.bash-it-out__editor-active .bash-it-out__shadow-background {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10001;
	background-color: rgba( 0, 0, 0, 0.77 );
}

.bash-it-out__complete .bash-it-out__shadow-background {
	background-color: rgba(84, 200, 255, 0.77);
}

.bash-it-out__annoy .bash-it-out__shadow-background {
	animation-name: annoy_me;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}

@keyframes annoy_me {
	from {
		background-color: rgba( 0, 0, 0, 0.77 );
	}
	to {
		background-color: rgba( 255, 10, 39, 0.77 );
	}
}