.bash-it-out__container {
	margin:	20px 40px;
}

.bash-it-out__settings {
	margin-bottom: 40px;
	padding: 20px;
	border: 1px solid #ccc;
}

.bash-it-out__overseer {
	background: gold;
	position: fixed;
	bottom: -1000%;
	left: 0;
	width: 100%;
	height: 150px;
	z-index: 100;
}

.bash-it-out__overseer-complete {
	background: lightgreen;
}

.bash-it-out__overseer-active {
	bottom: 0;
}

.bash-it-out__editor {

}